<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.module.sys.dao.SysRoleDao">
    <resultMap id="BaseResultMap" type="com.java.module.sys.model.SysRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="scope_type" jdbcType="INTEGER" property="scopeType"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="BIT" property="createTime"/>
        <result column="create_by" jdbcType="BIT" property="createBy"/>
        <result column="update_time" jdbcType="BIT" property="updateTime"/>
        <result column="update_by" jdbcType="BIT" property="updateBy"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,`name`,`scope_type`, `remark`,
        `create_time`,`create_by`,`update_time`,`update_by`
    </sql>

    <select id="listByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_role
        WHERE
            EXISTS
        (
            SELECT 1 FROM sys_user_role_relation ur
            WHERE ur.role_id = sys_role.id
            AND ur.user_id = #{id,jdbcType=BIGINT}
        )
    </select>

</mapper>